################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/SyntheticAvatar/UserSettings/Search.settings
/SyntheticAvatar/Assets/Meassurements
